.form-input{
    background-color: #181823;
    display: block;
    margin: 30px 0;
    padding: 10px;
    border: none;
    border-radius: 0;
}

.form-input::placeholder{
    color: #E9F8F9;
}

.form-input:focus{
    border: 3px solid #E9F8F9;
    background-color: #181823;
}

/* #181823
#537FE7
#C0EEF2
#E9F8F9 */